.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

/*
.header {
  background-color: #7987a3;
  min-height: 7vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}*/

.App-link {
  color:#61dafb;
}

body {
  /*background-color: #c7c7c7;*/
  /*background-color: rgba(45, 129, 168, 0.486);*/
  background-color: rgb(235, 227, 215);
  margin: 0;
  font-family: Oswald, Monaco, "Arial Narrow", Helvetica, sans-serif;
}

.bio {
  /*
  align-content: center;
  align-self: center;
  display: inline-block;*/
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-top: 28vh;
  margin-bottom: 13vh;
}

.portrait {
  width: 35vmin;
  border-radius: 100%;
  /*border: 6px solid rgb(176, 154, 206);*/
  /*border: 6px solid rgb(64, 117, 139);*/
  float: left;
  margin-bottom: inherit;
  vertical-align: middle;
  }

.paragraph {
  font-size: 3.5vmin;
  float: left;
  padding-top: 0vh;
  margin-left: 3vh;
  text-align: center;
  word-wrap: break-word;
  width: 35vmin;
  vertical-align: middle;
}

.temp_paragraph {
  margin-top: 50vh;
  padding: 15px 15px 2500px;
  font-size: 30px;
}

.header {
  display: inline; 
  margin-left: auto;
  margin-right: auto;
}

.logo {
  color: #f2f2f2;
  float: left;
  padding: 9px 1vmin;
  text-align: center;
  width: 35px;
  border-radius: 100%;
}

.title {
  color: #f2f2f2;
  float: left;
  padding: 12px 1vmin;
  text-align: center;
  font-size: 20px;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: relative;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.menubar {
  /*background-color: #333;*/
  background-color: rgb(73, 73, 73);
  position: fixed;
  width: 100vw;
  top: 0;
}

.menubar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.menubar-right {
  float: right;
  display: flex;
  
}

.menubar a:hover {
  /*background-color: #ddd;*/
  /*text-decoration: underline;*/
  border-bottom: 3px solid currentColor; /* Or whatever color you want */
  text-decoration: none;
  /*color: black;*/
}

.menubar a.active {
  /*background-color: #e27a19;
  border-bottom: 3px solid #e27a19;*/
  background-color: rgb(64, 117, 139);
  border-bottom: 3px solid rgb(64, 117, 139);
  color: white;
}

.menubar a.active:hover {
  border-bottom: 3px solid currentColor; /* Or whatever color you want */
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown:hover .dropbtn {
  border-bottom: 3px solid currentColor; /* Or whatever color you want */
  text-decoration: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
  border-bottom: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.social_footer {
  position: fixed;
  vertical-align: middle;
  float: none;
  width: 500px;
  height: 200px;
  top: 101%;
  left: 50%;
  margin-top: -100px; /* Negative half of height. */
  margin-left: -250px; /* Negative half of width. */
}

.social {
  color: rgb(73, 73, 73);
  font-size: 5vmin
}

.social:hover {
  opacity: 0.6;
  transition-duration: 600ms;
}

/*
@media screen and (max-width: 620px) {
  .portrait {
    border: 6px solid rgb(176, 154, 206);
  }
}*/

@media screen and (max-width: 710px) {
  .menubar {
    padding: 10px 0px 0px !important;
    
  }
  .menubar a {
    text-align: left;
    font-size: 3vw;
  }

  .menubar-right {
    float: right;
    
  }

  .dropdown .dropbtn {
    font-size: 3vw !important;
  }

  .header {
    float: none;
    display: inline;
  }

  .title {
    float: none;
    text-align: center;
    vertical-align: middle;
    font-size: 4vw;
  }

  .logo {
    float: none;
    vertical-align: middle;
  }

  .bio {
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24vh;
    margin-bottom: 0;
  }

  .portrait {
    float: none;
    margin-left: inherit;
    margin-right: inherit;
    width: 40vmin;
  }
  
    
  .paragraph {
    margin-left: inherit;
    margin-right: inherit;
    float: none;
    width: 60vmin;
    font-size: 5vmin;
    word-wrap: break-word;
    vertical-align: middle;
    padding-top: 0vh;
  }

  .social_footer {
    top: 103%;
  }
  
  .social {
    color: rgb(73, 73, 73);
    font-size: 5vh
  }
}

.box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #e2a80a;
  width: 200px;
}
.box>*:first-child {
    align-self: stretch;
    flex: 1 ;
    background-color: #7987a3;
}
.box .selected {
  align-self: center;
}
